<footer class="bg-dark text-white text-left py-4 mt-5" th:fragment="footerFragment">
    <div class="container">
        <p class="mb-1">
            출처: <a href="https://www.themoviedb.org/" class="text-white text-decoration-underline" target="_blank">The Movie Database API</a>
            /본 사이트는 영화 정보 제공을 위한 학습용 프로젝트이며, 상업적 목적이 아닙니다.
        </p>

        <p class="mb-1">
            저작권 © 2025 CinePointer. All rights reserved.
        </p>
        <p class="mb-0">
            이메일: <a href="mailto:ibo12224@naver.com" class="text-white">ibo12224@naver.com</a>
        </p>
    </div>
</footer>
