<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="headerFragment">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/dark-logo.png}" alt="로고" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 메뉴 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/movies}">영화</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mypage}">마이페이지</a>
                </li>
            </ul>

       
            <form class="d-flex me-3" th:action="@{/search}" method="get" role="search">
                <input class="form-control me-2" type="search" name="keyword" placeholder="영화, 감독, 배우 검색" aria-label="검색">
                <button class="btn btn-outline-light" type="submit">검색</button>
            </form>
     
            <!-- 비로그인 상태: 로그인/회원가입 -->
            <ul class="navbar-nav" th:if="${session.userId == null}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">회원가입</a>
                </li>
            </ul>

            <!-- 로그인 상태: 사용자 정보 / 로그아웃 -->
            <ul class="navbar-nav" th:if="${session.userId != null}">
                <li class="nav-item">
                    <span class="nav-link" th:text="'안녕하세요'"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
