<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" th:fragment="headerFragment">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/dark-logo.png}" alt="로고" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 메뉴 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li th:if="${pageType == 'main'}" class="nav-item">
                    <a class="nav-link" href="#popular">인기 영화</a>
                </li>
                <li th:if="${pageType == 'main'}" class="nav-item">
                    <a class="nav-link" href="#latest">최신 개봉작</a>
                </li>
                <li th:if="${pageType == 'main'}" class="nav-item">
                    <a class="nav-link" href="#genre">장르별 영화</a>
                </li>
                <li th:if="${pageType == 'main'}" class="nav-item">
                    <a class="nav-link" href="#recommend">추천 영화</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/list}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/info/main}">마이페이지</a>
                </li>
                <li th:if="${session.userRole == 'ADMIN'}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/main}">회원관리</a>
                </li>
            </ul>
            <!-- 검색창: 메인 페이지에서만 노출 -->
            <form class="d-flex me-3 position-relative" id="searchForm" role="search" onsubmit="return false;"
                  th:if="${pageType == 'main'}">
                <input class="form-control me-2" type="search" name="keyword" id="searchInput" placeholder="영화, 감독, 배우 검색" aria-label="검색" autocomplete="off">
                <ul id="search-result-list" class="search-result-list position-absolute w-100" style="z-index:1050; top:100%; left:0;"></ul>
            </form>
            <!-- 비로그인 상태: 로그인/회원가입 -->
            <ul class="navbar-nav" th:if="${session.userId == null}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">회원가입</a>
                </li>
            </ul>
            <!-- 로그인 상태: 사용자 정보 / 로그아웃 -->
            <ul class="navbar-nav" th:if="${session.userId != null}">
                


                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
