<div th:fragment="myReview" class="container my-4">
    <h4 class="mb-3 text-left">내 리뷰 목록</h4>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" th:each="review : ${reviews}">
            <div class="card shadow-sm h-100 border-dark">
                <div class="card-body">
                    <h5 class="card-title" th:text="${review.reviewTitle}">리뷰 제목</h5>
                    
                    <p class="card-text" th:text="${#strings.length(review.reviewContent) > 20 ? #strings.substring(review.reviewContent, 0, 20) + '...' : review.reviewContent}">
					    리뷰 내용
					</p>


                    <div class="mb-2">
                        <span class="badge bg-success" th:text="'평점: ' + ${review.reviewRating}">평점</span>
                        <span class="badge bg-secondary ms-2" th:text="${review.reviewTime}">작성 시간</span>
                    </div>

                    <p class="text-muted mb-1" th:text="'영화 제목: ' + ${review.movieTitle}">영화 제목</p>
                </div>

                <div class="card-footer bg-transparent border-top-0 text-end">
                	<!-- 수정 버튼 영화정보 추가 후 redirect -->
                	<form th:action="@{'/info/review/edit'(reviewNum=${review.reviewNum})}"
                	 method="post" class="d-inline">
                        <input type="hidden" name="reviewNum" th:value="${review.reviewNum}" />
                        <button type="submit" class="btn btn-outline-dark btn-sm ms-2">
                            <i class="bi bi-pencil"></i> 수정
                        </button>
                    </form>
                    
                    <!-- 삭제 버튼 -->
                    <form th:action="@{/info/review/delete}" method="post" class="d-inline">
                        <input type="hidden" name="reviewNum" th:value="${review.reviewNum}" />
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> 삭제
                        </button>
                    </form>

                    
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(reviews)}" class="alert bg-dark text-light text-center mt-4 border-0" role="alert">
		    아직 작성한 리뷰가 없습니다. <strong>첫 리뷰</strong>를 남겨보세요!
		</div>


    </div>
</div>

