<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/boardUpdate.js" defer></script>
</head>
<body>
<div th:replace="~{fragment/header :: headerFragment}"></div>
<div class="container">
    <h2>게시글 수정</h2>

    <form th:action="@{/board/update}" method="post">
        <input type="hidden" name="boardNum" th:value="${board.boardNum}">
        
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="boardTitle" th:value="${board.boardTitle}" required placeholder="제목을 입력하세요">
        </div>
		<div>
			<span>작성자: <span th:text="${board.userId}">작성자</span></span>
		</div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="boardContent" rows="8" required placeholder="내용을 입력하세요" th:text="${board.boardContent}"></textarea>
        </div>

        <button type="submit">수정하기</button>
        <button type="button" onclick="history.back();">취소</button>
    </form>
</div>
<div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>
</html>
