<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - CinePointer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container nav-flex">
         
      <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/dark-logo.png}" alt="로고" height="40">
        </a>
            
        </div>
    </header>

    <main>
            <div class="form-container">
                <h2>회원가입</h2>
                <form th:action="@{/users/signup}" th:object="${user}" method="post">
                	<input type="hidden" id="roleName" th:field="*{roleName}"  value="USER" >
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" th:field="*{userId}" required maxlength="20" autocomplete="username">

                    <label for="userPasswd">비밀번호</label>
                    <input type="password" id="userPasswd" th:field="*{userPasswd}" required maxlength="100" autocomplete="new-password">

                    <label for="userName">이름</label>
                    <input type="text" id="userName" th:field="*{userName}" required maxlength="50">

                    <label for="userEmail">이메일</label>
                    <input type="email" id="userEmail" th:field="*{userEmail}" required maxlength="100" autocomplete="email">

                  

                    <label for="userLandCd">국가코드</label>
                    <input type="text" id="userLandCd" th:field="*{userLandCd}" maxlength="10" placeholder="예: KR">

                    <label for="userBirthDate">생년월일</label>
                    <input type="date" id="userBirthDate" th:field="*{userBirthDate}">

                    <button type="submit" class="btn">회원가입</button>
                    <div class="nav-actions">
                <a href="/signIn" class="btn nav-btn">로그인</a>
            </div>
                </form>
            </div>
        </div>
    </main>

    <!-- 푸터 fragment 참조 -->
    <th:block th:replace="fragment/footer.html :: footerFragment"></th:block>
</body>
</html>

